
h2{
	text-align: center;
}
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid wheat;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}