body{
	height: 800px;
}
select{
	margin-left: 550px;

}
.carousel {
    position: relative;
    width: 400px; /* 根据需要设置宽度 */
	height: 200px;
    overflow: hidden;
	margin: 10px auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
	    display: block;
}

.slides img {
    width: 400px; /* 图片宽度与容器一致 */
	height: 200px;
    display: block;
}


.control-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px;
	
}
img{
	width:400px;
	height:200px;
}


#prev {
    left: 10px;
	 background-color: whitesmoke;
	    opacity: 0.2; /* 背景完全透明 */
}
#next {
    right: 10px;
	 background-color: whitesmoke;
	    opacity: 0.2; /* 背景完全透明 */
}



